
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
.vscode/extensions.json
.vscode/launch.json
docs/dist/404.html
docs/dist/favicon.ico
docs/dist/favicon.svg
docs/dist/index.html
docs/dist/_astro/0a5a99d8-fb58-4116-9e50-0de8afbfc548.B2ZZ1QOw_Z2biiLw.webp
docs/dist/_astro/2fa5f953-9f05-48c0-9123-abc1e6ce8996.BQNQTubb_207918.webp
docs/dist/_astro/3feb7862-5fa1-495a-b61d-117c36cb8bc3.Bp-KibmP_4Efbx.webp
docs/dist/_astro/6e1fd539-994a-472c-9874-bf0e466a2112.CNOfEjFL_Z1NWY1T.webp
docs/dist/_astro/7d5ae715-53fa-4d30-9398-ba873fd84933.DIvc8KAQ_Z1utRvI.webp
docs/dist/_astro/8acb1f00-6242-4938-8fcb-aebfbe236015.DeXp998W_ZlV9Bz.webp
docs/dist/_astro/54ddc773-09cf-42cd-a43f-013b1052fdbc.CUECzTrB_ZW0EWQ.webp
docs/dist/_astro/343c9db3-d02a-41e4-8f06-9d358d028f4d.BUpIYwL__1zSMCl.webp
docs/dist/_astro/5255d992-541e-460f-b5a1-1891864935e0.BYEBNbFV_Z9Ny5a.webp
docs/dist/_astro/6910c295-de73-4596-bc26-7fbbf9656a21.BRh9sdVg_KE7IF.webp
docs/dist/_astro/1000011095.CmsTw29a_17rKgf.webp
docs/dist/_astro/1000011096.CS0n23rq_Z2r5a0x.webp
docs/dist/_astro/1000011100.DOzie-vw_x1mtp.webp
docs/dist/_astro/1000011101.CS3o3Gn9_1QJCR6.webp
docs/dist/_astro/1000011103.DB75NTT1_N0eT5.webp
docs/dist/_astro/1000011105.C8XqLWiQ_Z1MahKz.webp
docs/dist/_astro/1000011178.CAiZpJhD_Z1ABsKd.webp
docs/dist/_astro/1000011180.D31I7dwg_Z2dzcat.webp
docs/dist/_astro/1000011194.CfpOi4X8_wSvtX.webp
docs/dist/_astro/1000012253.DLszKhx7_1BIQ22.webp
docs/dist/_astro/1000012259.DIsfqjBG_2kty9P.webp
docs/dist/_astro/1000012260.BiNaf91K_ZrDDod.webp
docs/dist/_astro/1000012261.w_maJ2-Q_Z1eV8ag.webp
docs/dist/_astro/1000012262.COXzdx17_vBbdH.webp
docs/dist/_astro/1000012263.Cu4O-fZw_ZRHzwQ.webp
docs/dist/_astro/1000012267.BTQ6lMls_1sYIn1.webp
docs/dist/_astro/1000012268.C9Tb6MRi_2lvfRF.webp
docs/dist/_astro/1000012271.BXmai7LN_1qWnMj.webp
docs/dist/_astro/1000012272.zw3Rgy-0_vTwVe.webp
docs/dist/_astro/1000012273.BBTr3eiF_Z284VXM.webp
docs/dist/_astro/1000012274.0E8wrkK0_8EHJW.webp
docs/dist/_astro/a62ce3c1-4446-4f51-90a8-01bbf1f07700.BcqwfmK2_ZBT7wT.webp
docs/dist/_astro/adff2443-ad98-40ab-a099-b0212c0c546a.DmYp3j6E_Zbm8n.webp
docs/dist/_astro/b1e4c286-9e78-4c8a-8b9a-e57e4f932593.DXK1x3Vh_TG9HC.webp
docs/dist/_astro/b995938e-7b8c-43d1-b836-d241089a8b62.DuJlkd6j_Z2b73m8.webp
docs/dist/_astro/c4ac17b5-a68e-4059-adee-4964259394e9.t517Puqn_1zyNML.webp
docs/dist/_astro/d5ce91de-33cb-4894-b17b-9878a51e8b5e.AAP0Lrqz_ZYRCsP.webp
docs/dist/_astro/d573b683-69b2-4be1-b693-c2937eff24d6.Cq8sZX-E_ZP8MMN.webp
docs/dist/_astro/e73b38cc-0b15-4e8a-95da-d2c361ce34d7.fdo4yjH8_dmELn.webp
docs/dist/_astro/ec.0vx5m.js
docs/dist/_astro/ec.v4551.css
docs/dist/_astro/f10f7745-7c4c-444c-8be6-5add43e14a4d.C_sjurZN_Z16LKFV.webp
docs/dist/_astro/image.DJ1f_nNI_Z1FW6K9.webp
docs/dist/_astro/image.SL9-9plT_Z2vkNwq.webp
docs/dist/_astro/image.Ul7u1N_u_xVRGN.webp
docs/dist/_astro/IMG_4458.DakghS5O_10PlL6.webp
docs/dist/_astro/IMG_4465.Cg7nwtiN_Z1Vn8GK.webp
docs/dist/_astro/IMG_4466.DNfWv840_21wi0T.webp
docs/dist/_astro/IMG_4468.-Cu3qqQ0_Zihlpr.webp
docs/dist/_astro/IMG_4470.B9sgFsGu_25xumM.webp
docs/dist/_astro/IMG_4512.DuhdMRds_FQGin.webp
docs/dist/_astro/IMG_4513.B6ByhaQs_2b2HcS.webp
docs/dist/_astro/IMG_4514.gjVTNVLz_2rdHYf.webp
docs/dist/_astro/IMG_4515.SXI6wCQ9_WK9Et.webp
docs/dist/_astro/IMG_4516.BWCK9XFC_2i7tgw.webp
docs/dist/_astro/IMG_4517.uevrUUf5_1IgOey.webp
docs/dist/_astro/IMG_4739.CNyXnTfn_1Kn3k1.webp
docs/dist/_astro/IMG_4742.47LykY9F_1UuOfz.webp
docs/dist/_astro/IMG_4743.CftUgcvu_ZaXoVy.webp
docs/dist/_astro/index.GT49n4q-.css
docs/dist/_astro/MobileTableOfContents.astro_astro_type_script_index_0_lang.hwBsy0Mo.js
docs/dist/_astro/page.B1D-nYk3.js
docs/dist/_astro/print.DNXP8c50.css
docs/dist/_astro/PXL_20250601_042032683.B9BMCGmr_Z27OtTH.webp
docs/dist/_astro/Search.astro_astro_type_script_index_0_lang.CClt51WX.js
docs/dist/_astro/TableOfContents.astro_astro_type_script_index_0_lang.FuRcXuRY.js
docs/dist/_astro/top.C9azglfg_Z1UaNqX.webp
docs/dist/_astro/ui-core.BM2iPZrq.js
docs/dist/_astro/ピロピロ.DBnFI0z2_Z1T1bfj.webp
docs/dist/_astro/無題.5Cd52zWz_Z1MaGVw.webp
docs/dist/guides/01parts/index.html
docs/dist/guides/02solder/index.html
docs/dist/guides/03case/index.html
docs/dist/guides/04module/index.html
docs/dist/guides/05firmware/index.html
docs/dist/guides/10sparakasha/index.html
docs/dist/pagefind/pagefind-entry.json
docs/dist/pagefind/pagefind-highlight.js
docs/dist/pagefind/pagefind-modular-ui.css
docs/dist/pagefind/pagefind-modular-ui.js
docs/dist/pagefind/pagefind-ui.css
docs/dist/pagefind/pagefind-ui.js
docs/dist/pagefind/pagefind.en_5ad1bdfc1b.pf_meta
docs/dist/pagefind/pagefind.js
docs/dist/pagefind/wasm.en.pagefind
docs/dist/pagefind/wasm.unknown.pagefind
docs/dist/pagefind/fragment/en_4e57b46.pf_fragment
docs/dist/pagefind/fragment/en_35e5168.pf_fragment
docs/dist/pagefind/fragment/en_74fe103.pf_fragment
docs/dist/pagefind/fragment/en_279fa71.pf_fragment
docs/dist/pagefind/fragment/en_469a6ee.pf_fragment
docs/dist/pagefind/fragment/en_aba9ec5.pf_fragment
docs/dist/pagefind/fragment/en_cabbb11.pf_fragment
docs/dist/pagefind/index/en_8459613.pf_index
